///////* css map */////////////////////
////* VARIABLES , FONTS, CSS RESET*////
////* MOBILE code  *///////////////////
////* DESKTOP code *///////////////////
////* UTILITIES *//////////////////////
// VARIABLES , FONTS, CSS RESET
$font-roboto: "Roboto", sans-serif;

:root {
    --h4-p-color-tomato: hsl(4, 100%, 67%);
    --h4-n-dark-slate-gray: hsl(234, 29%, 20%);
    --h4-n-dark-slate-gray-hover: hsl(234, 29%, 30%);
    --h4-n-charcoal-grey: hsl(235, 18%, 26%);
    --h4-n-grey: hsl(231, 7%, 60%);
    --h4-n-white: hsl(0, 0%, 100%);

    --h4-btn-orange: #ff6644;
    --h4-btn-tomato: #ff5379;

    --h4-btn-gradient: linear-gradient(
        90deg,
        var(--h4-btn-tomato),
        var(--h4-btn-orange)
    );
}

// Primary colors
.btn-h4-dark {
    --bs-btn-color: var(--h4-n-white);
    --bs-btn-bg: var(--h4-n-dark-slate-gray);
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: var(--h4-n-white);
}

.btn-h4-dark:hover {
    background-image: var(--h4-btn-gradient);
    box-shadow: 0 10px 40px -3px var(--h4-btn-tomato);
}

.bg-h4-dark {
}
// Secondary colors

// FONTS

// CSS RESET

*,
*::before,
*::after {
    box-sizing: border-box;
}

// MOBILE code

body {
    width: 100%;
    margin: 0;
    min-height: 100svh;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
}

.custom-width {
    max-width: 375px;
}

.list {
    list-style: none;

    &__item {
        background: url(/assets/images/icon-list.svg) left center no-repeat;
    }
}

#mail_input {
    cursor: pointer;
    border: 2px solid rgba(147, 147, 147, 0.4);

    &:hover {
        box-shadow: 3px 4px 15px var(--h4-btn-orange);
        border: 2px solid black;
    }

    &:focus {
        box-shadow: 1px 2px 10px var(--h4-btn-orange);
        background: #fff;
    }
}

.invalid {
    background: #ffe8e6;
    color: var(--h4-btn-orange);
    border: 2px solid var(--h4-btn-tomato) !important;
    opacity: 0.6;
}

.container {
    border-radius: 10px;
}

// DESKTOP code

@media screen and (min-width: 992px) {
    .body {
        background: var(--h4-n-charcoal-grey);
    }
    .custom-width {
        max-width: 1000px;
    }

    .display-2 {
        font-size: 3.5rem;
    }

    .message {
        max-height: 40%;
        min-width: 500px;
        max-width: 33%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .veil {
        position: absolute;
        top: 0;
        background: var(--h4-n-charcoal-grey);
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Atribution */
.footer {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;

    & a {
        color: hsl(245, 46%, 45%);
    }
}
